html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Conv_TradeGothicLTStd';
  src: url("/fonts/TradeGothicLTStd.eot");
  src: local('☺'), url("/fonts/TradeGothicLTStd.woff") format('woff'), url("/fonts/TradeGothicLTStd.ttf") format('truetype'), url("/fonts/TradeGothicLTStd.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_TradeGothicLTStd-Bold';
  src: url("/fonts/TradeGothicLTStd-Bold.eot");
  src: local('☺'), url("/fonts/TradeGothicLTStd-Bold.woff") format('woff'), url("/fonts/TradeGothicLTStd-Bold.ttf") format('truetype'), url("/fonts/TradeGothicLTStd-Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Oswald-Bold;
  src: url("/fonts/Oswald-Bold.ttf");
}
@font-face {
  font-family: Oswald-Regular;
  src: url("/fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("/fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
}
html {
  -ms-touch-take_action: manipulation;
  touch-take_action: manipulation;
}
body {
  background-color: #f6f6f6;
  background-color: #fafbfb;
  background-color: #fff;
  font-family: "Oswald-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body h1,
body h2,
body h3,
body p,
body a,
body label,
body input,
body button,
body strong,
body li {
  text-align: center;
}
body h1 i,
body h2 i,
body h3 i,
body p i,
body a i,
body label i,
body input i,
body button i,
body strong i,
body li i {
  font-style: italic;
}
body h1 u,
body h2 u,
body h3 u,
body p u,
body a u,
body label u,
body input u,
body button u,
body strong u,
body li u {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  body h1,
  body h2,
  body h3,
  body p,
  body a,
  body label,
  body input,
  body button,
  body strong,
  body li {
    text-align: left;
  }
}
body h1 {
  font-size: 96px;
  font-weight: 700;
/*font-family "Helvetica Neue", Helvetica, Arial, sans-serif*/
}
body h2 {
  font-size: 42px;
  font-weight: 700;
/*font-family "Helvetica Neue", Helvetica, Arial, sans-serif*/
}
body h3 {
  font-size: 17px;
  font-weight: 500;
/*font-family "Helvetica Neue", Helvetica, Arial, sans-serif*/
}
body div,
body p,
body li {
  font-size: 14px;
/*font-weight 400*/
/*font-family "Helvetica Neue", Helvetica, Arial, sans-serif*/
}
body a,
body button {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 23px;
/*font-weight 400*/
/*font-family "Helvetica Neue", Helvetica, Arial, sans-serif*/
  color: #000;
}
body label,
body input {
  font-weight: 400;
  cursor: pointer;
/*font-family "Helvetica Neue", Helvetica, Arial, sans-serif*/
}
body input {
  font-size: 15px;
  line-height: 16px;
/*font-family "Helvetica Neue", Helvetica, Arial, sans-serif*/
}
body label {
  font-size: 13px;
  line-height: 15px;
/*font-family "Helvetica Neue", Helvetica, Arial, sans-serif*/
}
body svg {
  visibility: visible;
  display: block;
  margin: 0 auto;
}
body svg text {
  font-size: 15px;
  text-transform: capitalize;
  line-height: 23px;
  font-weight: 500;
/*font-family "Helvetica Neue", Helvetica, Arial, sans-serif*/
}
.oswald-bold {
  font-family: "Oswald-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.oswald {
  font-family: "Oswald-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.roboto {
  font-family: "Roboto-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 52px !important;
    text-align: center !important;
  }
  h2 {
    font-size: 28px !important;
    text-align: center !important;
  }
  .mobile-p {
    width: 100% !important;
  }
  #personality .pad {
    width: 100% !important;
  }
  #personality .bar-wrapper > div {
    height: 80px;
  }
  .child-view {
    padding: 0 15px !important;
  }
}
.dinner .header h1,
.dinner .header h2,
.dinner .header h3,
.dinner .header a,
.dinner .header p {
  color: #fff;
}
.dinner .header h1 {
  padding-top: 60px;
}
.dinner .header h1,
.dinner .header h2 {
  padding-bottom: 30px;
}
.dinner .header h3 {
  padding-bottom: 60px;
}
.dinner .header p {
  font-family: Roboto-Regular;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.dinner .header a {
  font-weight: 400;
}
.dinner .header .header-personality-container {
  display: inline-block;
  width: 176px;
  height: auto;
  margin-left: 7px;
  border: 8px solid #23418f;
  font-size: 0;
}
.dinner .header .bar-wrapper > div {
  width: 20%;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  display: inline-block;
  float: left;
  clear: none;
  height: 35px;
  position: relative;
}
.dinner .header .bar-wrapper > div span.per-block-default-color {
  background-color: #9b9ac5;
}
.dinner-main-nav {
  width: 100%;
  display: block;
  height: 70px;
  overflow: hidden;
}
.dinner-main-nav p,
.dinner-main-nav a {
  color: #fff;
  font-family: Oswald-Regular !important;
  font-weight: 700;
}
.dinner-main-nav p {
  float: left;
  text-align: center;
  line-height: 70px;
  padding-left: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.dinner-main-nav a.name {
  text-decoration: underline;
  padding-right: 30px;
  text-align: right;
  line-height: 70px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
  width: 100%;
}
.dinner-main-nav a.info {
  border-left: 2px solid #f8f7f7;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 19px;
  background-image: url("../img/WatsonSmall.jpg");
  background-size: cover;
  background-position: center;
}
.dinner-profile-image-cntr {
  margin-right: 7px;
  width: 192px;
  height: auto;
  display: inline-block;
  font-size: 0;
  border: 8px solid #23418f;
}
@media (max-width: 767px) {
  .dinner-profile-image-cntr {
    margin-right: 0px;
  }
  .dinner .header .header-personality-container {
    margin-left: 0px;
  }
}
.dinner-profile-image-reveal {
  width: 100%;
  -webkit-animation: circle-reveal 0.2s ease-out;
  -moz-animation: circle-reveal 0.2s ease-out;
  -ms-animation: circle-reveal 0.2s ease-out;
  -o-animation: circle-reveal 0.2s ease-out;
  animation: circle-reveal 0.2s ease-out;
  -webkit-animation: circle-reveal 0.2s ease-out;
  -moz-animation: circle-reveal 0.2s ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}
@-webkit-keyframes circle-reveal {
  0% {
    -webkit-transform: scale(0);
  }
  95% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes circle-reveal {
  0% {
    -moz-transform: scale(0);
  }
  95% {
    -moz-transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1);
  }
}
#hblock1,
#hblock2,
#hblock3,
#hblock4 {
  opacity: 0;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
#hblock4:hover {
  background-color: #ea536c;
  color: #fff;
}
.hblock1-ani {
  -webkit-animation: hblock1-reveal 0.2s linear 0.2s, hblock1-move 0.2s linear 0.2s;
  -moz-animation: hblock1-reveal 0.2s linear 0.2s, hblock1-move 0.2s linear 0.2s;
  -ms-animation: hblock1-reveal 0.2s linear 0.2s, hblock1-move 0.2s linear 0.2s;
  -o-animation: hblock1-reveal 0.2s linear 0.2s, hblock1-move 0.2s linear 0.2s;
  animation: hblock1-reveal 0.2s linear 0.2s, hblock1-move 0.2s linear 0.2s;
  -webkit-animation: hblock1-reveal 0.2s linear 0.2s, hblock1-move 0.2s linear 0.2s;
  -moz-animation: hblock1-reveal 0.2s linear 0.2s, hblock1-move 0.2s linear 0.2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}
@-keyframes hblock1-reveal;
0% {
  opacity: 0;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
100% {
  opacity: 1;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
@-webkit-keyframes hblock1-reveal {
  0% {
    opacity: 0;
    -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
  100% {
    opacity: 1;
    -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
}
@-keyframes hblock1-move;
0% {
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
  transform: translateY(60px);
}
100% {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
@-webkit-keyframes hblock1-move {
  0% {
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px);
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.hblock2-ani {
  -webkit-animation: hblock1-reveal 0.2s linear 0.4s, hblock1-move 0.2s linear 0.4s;
  -moz-animation: hblock1-reveal 0.2s linear 0.4s, hblock1-move 0.2s linear 0.4s;
  -ms-animation: hblock1-reveal 0.2s linear 0.4s, hblock1-move 0.2s linear 0.4s;
  -o-animation: hblock1-reveal 0.2s linear 0.4s, hblock1-move 0.2s linear 0.4s;
  animation: hblock1-reveal 0.2s linear 0.4s, hblock1-move 0.2s linear 0.4s;
  -webkit-animation: hblock1-reveal 0.2s linear 0.4s, hblock1-move 0.2s linear 0.4s;
  -moz-animation: hblock1-reveal 0.2s linear 0.4s, hblock1-move 0.2s linear 0.4s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}
.hblock3-ani {
  -webkit-animation: hblock1-reveal 0.2s linear 0.6s, hblock1-move 0.2s linear 0.6s;
  -moz-animation: hblock1-reveal 0.2s linear 0.6s, hblock1-move 0.2s linear 0.6s;
  -ms-animation: hblock1-reveal 0.2s linear 0.6s, hblock1-move 0.2s linear 0.6s;
  -o-animation: hblock1-reveal 0.2s linear 0.6s, hblock1-move 0.2s linear 0.6s;
  animation: hblock1-reveal 0.2s linear 0.6s, hblock1-move 0.2s linear 0.6s;
  -webkit-animation: hblock1-reveal 0.2s linear 0.6s, hblock1-move 0.2s linear 0.6s;
  -moz-animation: hblock1-reveal 0.2s linear 0.6s, hblock1-move 0.2s linear 0.6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}
.hblock4-ani {
  -webkit-animation: hblock1-reveal 0.2s linear 0.8s, hblock1-move 0.2s linear 0.8s;
  -moz-animation: hblock1-reveal 0.2s linear 0.8s, hblock1-move 0.2s linear 0.8s;
  -ms-animation: hblock1-reveal 0.2s linear 0.8s, hblock1-move 0.2s linear 0.8s;
  -o-animation: hblock1-reveal 0.2s linear 0.8s, hblock1-move 0.2s linear 0.8s;
  animation: hblock1-reveal 0.2s linear 0.8s, hblock1-move 0.2s linear 0.8s;
  -webkit-animation: hblock1-reveal 0.2s linear 0.8s, hblock1-move 0.2s linear 0.8s;
  -moz-animation: hblock1-reveal 0.2s linear 0.8s, hblock1-move 0.2s linear 0.8s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}
#home-view,
#focus,
#personality {
  background-color: #203982;
}
#focus {
  padding-bottom: 330px;
}
@media only screen and (max-width: 767px) {
  #focus h2 {
    width: 60% !important;
  }
}
#focus .col {
  width: 50%;
  float: left;
}
#focus .col > p {
  padding-bottom: 35px;
  text-align: center;
  min-height: 90px;
}
#focus .col div {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 50px;
}
@media only screen and (max-width: 767px) {
  #focus .col {
    width: 100%;
  }
}
#focus #you-content {
  text-align: center;
}
#focus #you-content div {
  padding: 0 15px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  max-width: 50%;
  display: inline-block;
}
#focus #you-content div span {
  display: block;
  color: #ea536c;
  border: 2px solid #ea536c;
}
#focus #group-content {
  text-align: center;
}
#focus #group-content div {
  padding: 0 15px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  max-width: 50%;
  display: inline-block;
}
#focus #group-content div span {
  display: block;
  color: #fff;
  border: 2px solid #fff;
}
.ui-flex {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 auto;
}
#static2,
#static3 {
  clear: both;
}
#personality {
  padding-bottom: 200px;
}
#personality h2 {
  color: #fff;
  padding-bottom: 100px;
}
#personality h3 {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
#personality .pad {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}
.per-block-default-color {
  background-color: #3e5ba5;
}
.Openness {
  background-color: #cf6aa9;
}
.Conscientiousness {
  background-color: #ea536c;
}
.Extraversion {
  background-color: #cd5487;
}
.Agreeableness {
  background-color: #de5f8a;
}
.EmotionalRange {
  background-color: #ac4473;
}
.children-view {
  padding-bottom: 33px;
  float: left;
}
.child-view {
  width: 33.3%;
  padding: 0 33px;
  float: left;
  clear: none;
}
.child-view p {
  color: #d3d4d9;
  padding: 35px 0 16px 8px;
  text-align: left;
}
@media only screen and (max-width: 1080px) {
  .child-view {
    width: 50%;
  }
  #personality {
    padding-bottom: 50px;
  }
  #personality h2 {
    padding-bottom: 40px;
  }
}
#outro {
  padding-bottom: 30px;
}
#outro h2 {
  color: #fff;
  padding-bottom: 70px;
}
#outro .pad {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}
#outro .pad p {
  padding-bottom: 70px;
  color: #fff;
  width: 80%;
  margin: 0 auto;
}
#outro hr {
  margin-bottom: 70px;
}
#outro a.a-cta {
  color: #3d475e;
  display: inline-block;
  background-color: #fff;
  padding: 15px;
  margin: 0 15px;
  text-align: center;
  width: 270px;
  height: 55px;
  margin-bottom: 70px;
}
#outro a.first {
  padding: 5px;
}
.our-work {
  height: 250px;
}
.our-work .columns {
  height: 250px;
}
.our-work a p {
  font-size: 20px;
  position: absolute;
  bottom: -55px;
  left: 10px;
  color: #fff;
  padding-bottom: 5px;
  display: none;
  text-align: left;
}
.our-work a p span {
  font-size: 14px;
  display: block;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.our-work > a > div:before,
.our-work > .columns > a div:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(68,81,96,0.6);
  display: none;
  top: 0;
  left: 0;
}
.our-work > a:hover > div:before,
.our-work > .columns > a:hover div:before {
  display: block;
}
.our-work a:hover p {
  display: block;
}
@media (min-width: 767px) {
  .our-work {
    height: 250px;
  }
}
@media (max-width: 550px) {
  #contact-me {
    margin: 0px;
  }
}
@media (max-width: 767px) {
  #outro {
    padding-bottom: 0;
  }
  .our-work {
    height: auto;
  }
  .our-work p {
    display: block !important;
  }
  .our-work > a > div:before,
  .our-work > .columns > a div:before {
    display: block;
  }
  .our-work .columns {
    height: 250px;
    padding-bottom: 20px;
  }
  .our-work .content-inner {
    margin-right: 0 !important;
  }
}
#guests td {
  position: relative;
}
#guests a {
  color: #00008b;
  text-decoration: underline;
}
#guests a:hover {
  color: #4169e1;
}
.guest-delete-button {
  width: 30px;
  height: 30px;
  display: block;
  background-size: 100% auto;
  background: url("/images/DeleteRed-24x24.png") center center no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
}
.form-cnt {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.form-cnt {
  font-size: inherit;
}
.form-cnt .form-width {
  width: 50%;
}
.form-cnt input {
  line-height: 45px;
  width: 100%;
  font-size: inherit;
}
.form-cnt input[type="submit"] {
  line-height: 45px;
  -webkit-appearance: none;
  -webkit-user-select: none;
  white-space: pre;
}
.form-cnt textarea {
  width: 100%;
  text-align: center;
  font-size: inherit;
  padding-top: 10%;
}
#form-error-msg {
  color: #f00;
  display: none;
  padding: 20px;
  border: 2px solid #f00;
  font-weight: 700;
  font-size: 17px;
  background-color: #ffc0cb;
}
#loading {
  text-align: center;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.846);
  opacity: 1;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  -webkit-transition: opacity 400ms ease;
  padding-top: 300px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000; /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
.modal-content form {
  padding-bottom: 30px;
}
.modal-content p {
  padding-bottom: 30px;
}
.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#guest-profile-image-form input[type="submit"],
#guest-profile-image-form input[type="file"],
#guest-profile-image-delete input[type="submit"] {
  font-size: 20px;
}
#img-delete-button {
  color: #f00;
}
.guest-img-yes {
  color: #008000 !important;
}
.guest-img-no {
  color: #ffd700 !important;
}
.guest-img-none {
  color: #f00 !important;
}
.bar-wrapper.active + .per-info-block {
  max-height: 500px;
}
.bar-wrapper {
  width: 100%;
  margin-right: 30px;
  position: relative;
  display: inline-block;
}
.bar-wrapper h3 {
  position: absolute;
  left: 30px;
  top: 50%;
  z-index: 10;
  margin-top: -9px;
}
.bar-wrapper a {
  position: absolute;
  right: -101px;
  width: 100px;
  top: 50%;
  height: 100%;
  margin-top: -68px;
}
.bar-wrapper a.per-open {
  background-image: url("/img/arrow-open-personality.png");
  background-position: center;
  background-repeat: no-repeat;
}
.bar-wrapper a.active {
  background-image: url("/img/arrow-close-personality.png");
  background-position: center;
  background-repeat: no-repeat;
}
.per-info-block {
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  background-color: #17284e;
  text-align: left;
  float: left;
  max-height: 0;
  overflow: hidden;
}
.bar-wrapper > div {
  width: 16.66%;
  border-left: 1px solid #3d475e;
  border-right: 1px solid #3d475e;
  border-bottom: 1px solid #3d475e;
  display: inline-block;
  float: left;
  clear: none;
  height: 135px;
  position: relative;
}
.bar-wrapper-child > div {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  margin: 0 8px;
}
.bar-wrapper-child > div span {
  width: 100%;
  height: 100%;
  position: absolute;
}
.bar-wrapper > div span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ccc;
  width: 100%;
  height: 100%;
}
.bar-wrapper > div span.per-block-default-color {
  background-color: #3e5ba5;
}
.bar-wrapper > div span.Openness {
  background-color: #cf6aa9;
}
.bar-wrapper > div span.Conscientiousness {
  background-color: #ea536c;
}
.bar-wrapper > div span.Extraversion {
  background-color: #cd5487;
}
.bar-wrapper > div span.Agreeableness {
  background-color: #de5f8a;
}
.bar-wrapper > div span.EmotionalRange {
  background-color: #ac4473;
}
.bar-wrapper > div span.me {
  background-color: #e60f75;
}
.bar-wrapper > div span.company {
  background-color: #5ab2e5;
}
.bar_chart {
  position: relative;
}
.bar_chart p.label {
  text-align: left;
  color: #000;
  font-weight: 500;
  text-transform: capitalize;
  display: none;
}
.bar_chart p.stat {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-weight: 600;
  display: none;
}
.bar_chart span {
  background-color: #fff;
  width: 100%;
  display: block;
  height: 10px;
  position: relative;
  margin: 5px 0 10px 0;
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.02);
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.02);
  -ms-box-shadow: 0 4px 8px rgba(0,0,0,0.02);
  -o-box-shadow: 0 4px 8px rgba(0,0,0,0.02);
  box-shadow: 0 4px 8px rgba(0,0,0,0.02);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.bar_chart span i {
  width: 10px;
  height: 100%;
  background-color: #5ab2e5;
  display: block;
  transition-delay: 1s;
  -webkit-transition: 1.4s;
  -moz-transition: 1.4s;
  -ms-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.bar_chart span i.me {
  background-color: #e60f75;
}
.bar_chart span i.company {
  background-color: #5ab2e5;
}
.bar_chart span i.sector {
  background-color: #e2e2e2;
}
.block {
  display: block;
  width: 100%;
  padding: 75px 0 0 0;
  position: relative;
}
.block .anchor {
  position: absolute;
  top: -70px;
  width: 10px;
  height: 10px;
  display: block;
  opacity: 0;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
@media screen and (max-width: 767px) {
  .block {
    padding: 50px 0 60px 0;
  }
}
.site-width {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.pad {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 70px;
  text-align: center;
}
hr.divide {
  border: none;
  border-top: 10px solid #f8f7f7;
}
hr.split {
  border: none;
  border-top: 3px solid #f8f7f7;
  width: 100%;
  margin: 15px auto 15px auto;
}
hr {
  color: #8b96af;
}
.hero {
  width: 100%;
  display: block;
  background-image: url("../img/IBM-BusinessConnect2016.jpg");
  background-size: cover;
  background-position: center;
  height: 330px;
  min-height: 200px;
  max-height: 600px;
  height: calc(100vh - 450px);
  background-color: #f8f7f7;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: url("../img/IBM-BusinessConnect2016_mob.jpg");
  }
}
.dinner-hero {
  width: 100%;
  display: block;
  background-image: url("../img/Cognitive-Dinner_web.png");
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  min-height: 855px;
  background-color: #f8f7f7;
}
@media screen and (max-width: 767px) {
  .dinner-hero {
    background-image: url("../img/Cognitive-Dinner_web.png");
  }
}
.header form input {
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  display: block;
}
.header a.down.arrow {
  color: #3d475e;
  display: inline-block;
  background-color: #fff;
  padding: 15px;
  margin: 0 15px;
  text-align: center;
  height: 55px;
  width: 176px;
}
.header ul.notices {
  width: 100%;
  display: block;
}
.header ul.notices:after {
  content: '';
  display: table;
  clear: both;
}
.header ul.notices li {
  width: 50%;
  float: left;
  position: relative;
  padding: 0 20px;
}
.header ul.notices li h2 {
  text-align: left;
}
.header ul.notices li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: #e60f75;
}
.header ul.notices li:last-child {
  border-right: none;
}
.header ul.notices li:last-child:before {
  display: none;
}
@media screen and (max-width: 767px) {
  .header ul.notices li {
    width: 100%;
    margin-bottom: 20px;
  }
  .header ul.notices li:before {
    right: auto;
    left: 0;
  }
  .header ul.notices li:last-child:before {
    display: block;
  }
}
.footer {
  width: 100%;
  display: block;
  text-align: center;
}
.footer img {
  display: inline-block;
}
.footer a.scroll-top {
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  display: block;
  background: #f8f7f7;
  border-top: 2px solid #e2e2e2;
}
.main-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  border-bottom: 2px solid #f8f7f7;
  background-color: #fff;
  height: 70px;
  -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.04);
  -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.04);
  -ms-box-shadow: 0 4px 7px rgba(0,0,0,0.04);
  -o-box-shadow: 0 4px 7px rgba(0,0,0,0.04);
  box-shadow: 0 4px 7px rgba(0,0,0,0.04);
  overflow: hidden;
}
.main-nav a.logo {
  width: 120px;
  height: 70px;
  float: left;
  text-align: center;
  line-height: 70px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.main-nav a.name {
  height: 70px;
  text-align: right;
  line-height: 70px;
  display: block;
  position: absolute;
  top: 0;
  right: 100px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .main-nav a.name {
    right: 80px;
    text-align: center;
    max-width: calc(100% - 195px);
  }
}
.main-nav a.info {
  border-left: 2px solid #f8f7f7;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 19px;
  background-image: url("../img/WatsonSmall.jpg");
  background-size: cover;
  background-position: center;
}
div.cols {
  display: block;
  width: 100%;
}
div.cols:after {
  content: '';
  display: table;
  clear: both;
}
div.cols .col-1-2 {
  width: 50%;
  display: block;
  float: left;
  height: auto;
}
.col-content {
  width: 50%;
  display: block;
  float: left;
  padding: 10px;
}
.col-content.right {
  text-align: right;
}
.col-content:after {
  content: '';
  display: table;
  clear: both;
}
#personalityBarsx .label {
  color: #fff;
  fill: #fff;
}
.backbone-modules div.question-block {
  position: relative;
}
.backbone-modules div.question-block a.icon {
  position: absolute;
  top: -20px;
  right: 15px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: none;
  line-height: 41px;
  text-align: center;
  color: #fff;
}
.backbone-modules div.question-block a.icon.blue {
  background-color: #5ab2e5;
}
.backbone-modules div.question-block a.icon.pink {
  background-color: #e60f75;
}
.backbone-modules div.question-block .hidden {
  margin: 10px 0;
  padding: 35px 30px;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  -o-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  display: none;
}
.backbone-modules div.question-block .revealed {
  display: block;
}
.backbone-modules div.info-block {
  position: relative;
  display: block;
  height: auto;
}
.backbone-modules div.info-block.white p {
  background: #fff;
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.04);
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.04);
  -ms-box-shadow: 0 4px 8px rgba(0,0,0,0.04);
  -o-box-shadow: 0 4px 8px rgba(0,0,0,0.04);
  box-shadow: 0 4px 8px rgba(0,0,0,0.04);
}
.backbone-modules div.info-block.white p:after,
.backbone-modules div.info-block.white p:before {
  background-color: #fff;
}
.backbone-modules div.info-block p {
  padding: 30px 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #f8f7f7;
  position: relative;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.08);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.08);
  -ms-box-shadow: 0 2px 3px rgba(0,0,0,0.08);
  -o-box-shadow: 0 2px 3px rgba(0,0,0,0.08);
  box-shadow: 0 2px 3px rgba(0,0,0,0.08);
  height: auto;
  max-height: 120px;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.backbone-modules div.info-block p:before {
  content: '';
  background-color: #f8f7f7;
  opacity: 1;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.backbone-modules div.info-block p:after {
  content: '';
  background-color: #f8f7f7;
  opacity: 0.7;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.backbone-modules div.info-block p.active {
  max-height: 1000px;
}
.backbone-modules div.info-block p.active:before,
.backbone-modules div.info-block p.active:after {
  opacity: 0;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.backbone-modules div.info-block span {
  position: absolute;
  bottom: -20px;
  right: 25px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  line-height: 37px;
}
.backbone-modules div.info-block span.blue {
  background-color: #5ab2e5;
}
.backbone-modules div.info-block span.pink {
  background-color: #e60f75;
}
.backbone-modules div.info-block span:after {
  content: "+";
  font-weight: bold;
}
.backbone-modules div.info-block span.active:after {
  content: "-";
}
.backbone-modules .tabs .tabs-nav {
  width: 100%;
  display: block;
  margin-bottom: -10px;
}
.backbone-modules .tabs .tabs-nav:after {
  content: '';
  display: table;
  clear: both;
}
.backbone-modules .tabs .tabs-nav a {
  width: 50%;
  display: block;
  float: left;
  border-bottom: 4px solid transparent;
  color: #e2e2e2;
  line-height: 45px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
}
.backbone-modules .tabs .tabs-nav a.blue {
  border-bottom-color: #5ab2e5;
  color: #5ab2e5;
}
.backbone-modules .tabs .tabs-nav a.pink {
  border-bottom-color: #e60f75;
  color: #e60f75;
}
.backbone-modules .tabs .tabs-nav.blue a.active {
  border-bottom: 4px solid #5ab2e5;
  color: #5ab2e5;
}
.backbone-modules .tabs .tabs-nav.pink a.active {
  border-bottom: 4px solid #e60f75;
  color: #e60f75;
}
.backbone-modules .tabs .tab-content {
  display: none;
}
.backbone-modules .tabs .tab-content.active {
  display: block;
}
.backbone-modules ul.niche-list {
  width: 100%;
  display: block;
  text-align: center;
}
.backbone-modules ul.niche-list li {
  display: inline-block;
  padding: 0 7px 0 7px;
  background: #5ab2e5;
  color: #fff;
  position: relative;
  line-height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 3px 0;
  font-size: 15px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.09);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.09);
  -ms-box-shadow: 0 2px 3px rgba(0,0,0,0.09);
  -o-box-shadow: 0 2px 3px rgba(0,0,0,0.09);
  box-shadow: 0 2px 3px rgba(0,0,0,0.09);
}
.backbone-modules ul.niche-list li span {
  position: absolute;
  top: 8px;
  right: 18px;
  width: 24px;
  height: 24px;
  background: #5ab2e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 26px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  display: none;
}
@media screen and (max-width: 767px) {
  .backbone-modules ul.niche-list {
    text-align: center;
  }
}
.backbone-modules .quote {
  background: #e60f75;
  color: #fff;
}
.backbone-modules .quote h1 {
  font-weight: 300;
}
.backbone-modules .footprint .index-chart {
  margin: 30px 0;
  position: relative;
  height: 9px;
  background-image: url("/img/dotted-slider-gradient.png");
  background-size: 100%;
  background-position: center 0px;
  background-repeat: no-repeat;
}
.backbone-modules .footprint .index-chart .circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  margin-left: -10px;
  top: -5px;
  left: 100%;
  overflow: hidden;
  line-height: 0;
}
.backbone-modules .footprint .index-chart .group-circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  margin-left: -10px;
  top: -5px;
  left: 100%;
  overflow: hidden;
  line-height: 0;
}
.backbone-modules .footprint .index-chart.pink .circle {
  border-color: #e60f75;
}
.backbone-modules .footprint .index-chart.blue .circle {
  border-color: #5ab2e5;
}
.backbone-modules .footprint .index-chart p.label {
  padding-top: 15px;
}
.backbone-modules .footprint .index-chart p.label.left {
  float: left;
  margin-left: -3px;
}
.backbone-modules .footprint .index-chart p.label.right {
  float: right;
  margin-right: -3px;
}
.backbone-modules .footprint ul.block-chart {
  width: 100%;
  display: block;
  display: none;
}
.backbone-modules .footprint ul.block-chart:after {
  content: '';
  display: table;
  clear: both;
}
.backbone-modules .footprint ul.block-chart li {
  width: 10%;
  height: auto;
  display: block;
  float: left;
  background-color: #f8f7f7;
  border: 3px solid #fff;
}
.backbone-modules .footprint ul.block-chart li.found {
  background-color: #5ab2e5;
}
.backbone-modules .footprint ul.block-chart li:after {
  content: '';
  display: table;
  padding-top: 80%;
}
.backbone-modules .personality {
  background: #f8f7f7;
}
.backbone-modules .personality ul.personality-key {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .backbone-modules .personality ul.personality-key {
    text-align: left;
  }
}
.backbone-modules .personality ul.personality-key:after {
  content: '';
  display: table;
  clear: both;
}
.backbone-modules .personality ul.personality-key li {
  width: auto;
  display: inline-block;
  position: relative;
  padding: 0 15px 0 20px;
  line-height: 15px;
  text-align: left;
}
.backbone-modules .personality ul.personality-key li i {
  width: 12px;
  height: 12px;
  margin: 2px 0;
  background-color: #000;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: #5ab2e5;
}
.backbone-modules .personality ul.personality-key li.pink i {
  background: #e60f75;
}
.backbone-modules .personality ul.personality-key li.purple i {
  background: #e2e2e2;
}
.backbone-modules .personality .personality-chart {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
@media screen and (max-width: 767px) {
  .backbone-modules .personality .personality-chart {
    margin-bottom: 20px;
  }
}
.backbone-modules .personality .personality-chart:after {
  content: '';
  display: table;
  padding-top: 100%;
}
.backbone-modules .personality .personality-chart svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.backbone-modules .personality .personality-chart svg .radar-chart polygon.area {
  display: none;
}
.backbone-modules .personality .personality-chart svg .radar-chart g.circle-group circle {
  fill: #f00;
}
.backbone-modules .personality .personality-chart svg .radar-chart g.circle-group.blue circle {
  fill: #5ab2e5;
}
.backbone-modules .personality .personality-chart svg .radar-chart g.circle-group.pink circle {
  fill: #e60f75;
}
.backbone-modules .personality .personality-chart svg .radar-chart g.axis line {
  stroke: #e2e2e2;
  stroke-width: 2;
}
.backbone-modules .personality .personality-chart svg .radar-chart g.tooltip {
  display: none;
}
.backbone-modules .skills .comparison-graph {
  position: relative;
  max-width: 470px;
  margin: 0 auto 10px auto;
}
.backbone-modules .skills .comparison-graph:after {
  content: '';
  display: table;
  padding-top: 195%;
}
.backbone-modules .skills .comparison-graph svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.backbone-modules .focus {
  background: #f8f7f7;
}
.backbone-modules .focus .label {
  text-align: left;
  color: #000;
  font-weight: 500;
  text-transform: capitalize;
  margin: 25px 0;
  padding-right: 20px;
}
.backbone-modules .outro a.outro-link {
  display: block;
  text-align: left;
  padding: 15px;
  color: #fff;
  margin-bottom: 10px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.09);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.09);
  -ms-box-shadow: 0 2px 3px rgba(0,0,0,0.09);
  -o-box-shadow: 0 2px 3px rgba(0,0,0,0.09);
  box-shadow: 0 2px 3px rgba(0,0,0,0.09);
}
.backbone-modules .outro a.outro-link.blue {
  background-color: #5ab2e5;
}
.backbone-modules .outro a.outro-link.pink {
  background-color: #e60f75;
}
.backbone-modules .outro a.outro-link.pending {
  background-color: #f8f7f7;
  position: relative;
  color: rgba(0,0,0,0);
}
.backbone-modules .outro a.outro-link.pending:after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -15px;
  background-image: url("../img/loader.gif");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.backbone-modules .outro a.outro-link.complete {
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  position: relative;
  color: #000;
  pointer-events: none;
  font-weight: bold;
}
.backbone-modules .outro a.outro-link.complete:after {
  display: none;
}
.backbone-modules .outro .slider {
  padding-top: 40px;
}
.backbone-modules .outro .slider .slick-arrow {
  width: 40px;
  height: 40px;
  display: block;
  background-position: center;
  background-size: cover;
}
.backbone-modules .outro .slider .slick-arrow:before {
  display: none;
}
.backbone-modules .outro .slider .slick-arrow.slick-prev {
  left: -40px;
  background-image: url("/img/arrow_left.png");
}
.backbone-modules .outro .slider .slick-arrow.slick-next {
  right: -40px;
  background-image: url("/img/arrow_right.png");
}
.backbone-modules .outro .slider ul.slick-dots {
  padding-top: 40px;
  width: 100%;
  text-align: center;
}
.backbone-modules .outro .slider ul.slick-dots li {
  display: inline-block;
}
.backbone-modules .outro .slider ul.slick-dots li button:before {
  font-size: 10px;
}
.backbone-modules .outro .slider .slide {
  background: #fff;
  width: 100%;
  display: block;
  border: 3px solid #f8f7f7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.backbone-modules .outro .slider .slide .img {
  width: 100%;
  height: 150px;
  background: #f00;
  display: block;
  background-position: center;
  background-size: cover;
}
.backbone-modules .outro .slider .slide .text {
  padding: 40px 30px;
}
.backbone-modules .outro .slider .slide .text h2 {
  text-align: left;
  max-width: 280px;
}
.backbone-modules .outro .slider .slide .text a {
  font-weight: 500;
  text-decoration: underline;
}
.red {
  color: #f00;
}
#guest-form {
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  max-height: 0;
  overflow: hidden;
}
#guest-form.expand-form {
  max-height: 1000px;
}
.img-cnt {
  width: 100%;
  overflow: hidden;
  display: block;
}
.img-cnt img {
  width: 100%;
}
.content-inner {
  padding: 10px;
}
@media (min-width: 767px) {
  .col-12-4.columns {
    width: 33%;
  }
}
@media (max-width: 767px) {
  .columns.col-small-12-1 {
    width: 8.33333%;
  }
  .columns.col-small-12-2 {
    width: 16.66667%;
  }
  .columns.col-small-12-3 {
    width: 25%;
  }
  .columns.col-small-12-4 {
    width: 33.33333%;
  }
  .columns.col-small-12-5 {
    width: 41.66667%;
  }
  .columns.col-small-12-6 {
    width: 50%;
  }
  .columns.col-small-12-7 {
    width: 58.33333%;
  }
  .columns.col-small-12-8 {
    width: 66.66667%;
  }
  .columns.col-small-12-9 {
    width: 75%;
  }
  .columns.col-small-12-10 {
    width: 83.33333%;
  }
  .columns.col-small-12-11 {
    width: 91.66667%;
  }
  .columns.col-small-12-12 {
    width: 100%;
  }
  .col-hidden-small {
    display: none !important;
  }
}
.padding-top-1 {
  padding-top: 1em;
}
.padding-top-2 {
  padding-top: 2em;
}
.padding-top-3 {
  padding-top: 3em;
}
.padding-top-4 {
  padding-top: 4em;
}
.padding-top-5 {
  padding-top: 5em;
}
.padding-top-7 {
  padding-top: 7em;
}
.padding-bottom-1 {
  padding-bottom: 1em;
}
.padding-bottom-2 {
  padding-bottom: 2em;
}
.padding-bottom-3 {
  padding-bottom: 3em;
}
.padding-bottom-4 {
  padding-bottom: 4em;
}
.padding-bottom-5 {
  padding-bottom: 5em;
}
.padding-bottom-7 {
  padding-bottom: 7em;
}
@-moz-keyframes circle-reveal {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  95% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes circle-reveal {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  95% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes circle-reveal {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  95% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes circle-reveal {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  95% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
